[mysqld]
bind-address                    = 192.168.0.172
server-id                       = 1

gtid_mode			            = 1
enforce_gtid_consistency	    = 1

slow_query_log                  = 1
slow_query_log_file             = /var/log/mysql/mysql-slow.log
long_query_time                 = 1
log_queries_not_using_indexes   = 1

